* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.pricing {
    font-size: large;
    font-weight: normal;
    margin-top: 10px;
    color: rgb(95, 95, 95);
}

.toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
}


#toggle {
    display: none;
}

.switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background: rgb(106,113,220);
    background: linear-gradient(270deg, rgba(106,113,220,1) 0%, rgba(139,146,232,1) 35%, rgba(159,165,237,1) 100%);;
    position: relative;
    cursor: pointer;
    margin-left: 0px;
    border-radius: 10px;
}

label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + label::before {
    left: 23px;
  }

.box2 {
    background: rgb(106,113,220);
    background: linear-gradient(322deg, rgba(106,113,220,1) 0%, rgba(139,146,232,1) 35%, rgba(159,165,237,1) 100%);
}

.box2 button {
    color: #9f9dbf;
}

.box1 button {
    background: rgb(106,113,220);
    background: linear-gradient(270deg, rgba(106,113,220,1) 0%, rgba(139,146,232,1) 35%, rgba(159,165,237,1) 100%);
}

header {
    color: #727280;
}